[submodule "docs/kiwi-pycon-2023/reveal.js"]
	path = docs/kiwi-pycon-2023/reveal.js
	url = https://github.com/ekohilas/reveal.js
[submodule "docs/pycon-au-2023/reveal.js"]
	path = docs/pycon-au-2023/reveal.js
	url = https://github.com/ekohilas/reveal.js
